@import '~breakpoint-sass/stylesheets/breakpoint';
@import '_variables';


/* HOW IT WORKS */
.howitworks-intro {
  height: 30vw;
}
.howitworks-components {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #488700;

  @include breakpoint( $tabl5 ) {
    padding-bottom: 70px;
    //min-height: 1868px;
    //background: white url('../img/howitworks-components.png') top -15px center no-repeat;
    //background-size: cover;
  }
} 
.howitworks-components__diagram--desktop{
  display: none;
  width: 100%;
  margin-bottom: -2px;
  
  @include breakpoint( $tabl5 ) {
    display: block;
  }
}
.howitworks-components__diagram--mobile {
  width: 100%;
  margin-bottom: -2px;
  
  @include breakpoint( $tabl5 ) {
    display: none;
  }
}
.howitworks-components__intro {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.6rem;
  h3, p { 
    color: #fff; 
    max-width: calc( 100% - 20px );
    margin-left: auto;
    margin-right: auto;
    @include breakpoint( $tabl5 ) {
      max-width: 60%;
    }
  }
  background-image: linear-gradient(to top, white 0%, #46c8ff 32%, #027bc2 52%, #002b52 100%);
  @include breakpoint( $tabl5 ) {
    padding-top: 5.6rem;
    background-image: linear-gradient(to top, white 0%, #46c8ff 32%, #027bc2 52%, #002b52 100%);
  }
}
.howitworks-components__intro--title {
  margin-bottom: 10px;
  @include h2;
}
.howitworks-components__intro--intro {
  @include h3;
  margin-bottom: 1.5em;
}
.howitworks-components__intro--subtitle {
  @include h2light;
  color: white;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.howitworks-components__intro--copy {
  @include copy;
  color: white;
}

.howitworks-components__annotations {
  //position: absolute;
  position: relative;
  background: #fff;
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: -12%;
  //left: 50%;
  //margin-left: calc(-40%);
  padding: 20px 10px 20px 10px; 
  //top: auto;
  //bottom: 150px;
  //padding: 6px 0 0 25px;
  font-size: 1.8rem;
  line-height: 1.5;
  z-index: 20;

  @include breakpoint($tabl5) {
    max-width: 80%;
    margin-top: 1%;
    padding: 6px 0 0 25px;
  }
  @include breakpoint($desk1b) {
    font-size: 2rem;
    padding: 10px 0 0 40px;

  }
}
.annotations-row {
  @include breakpoint($tabl5) {
    display: flex;
  }
}
.howitworks-components__annotations--satellite,
.howitworks-components__annotations--meetme,
.howitworks-components__annotations--ground {
  @include breakpoint($tabl5) {
    width: 50%;
  }

  h4 {
    @include h3;
    color: $blue;
    margin-bottom: 0.8em;
  }
  ol {
    counter-reset: numList;
  }
  ol li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    min-height: 3em;
    @include copy;
    @include breakpoint($tabl5) {
      padding-right: 40px;
    }
  }
	ol li:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: 0px;
    top: 4px;
    
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    line-height: 1.5em;
    
    width: 2.6rem; height: 2.6rem;
    background: $blue;
    
    -moz-border-radius: 999px;
    border-radius: 999px
  }
}
.howitworks-components__annotations--ground {
  h4 { color: #e20074; }
  ol {
    counter-reset: numList 3;
  }
  ol li:before {
    background: #e20074;
  }
}
.howitworks-components__annotations--meetme{
  h4 { color: #FF9A00; }
  ol {
    counter-reset: numList 6;
  }
  ol li:before {
    background: #FF9A00;
  }
}
.howitworks-components__annotations--meetme2 {
  h4 { display: none; } 
  @include breakpoint( $tabl5 ) { h4 { display: block; }}
  ol {
    counter-reset: numList 7;
  }
}
.annotations-row {
  @include breakpoint($tabl5) {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa;
  }
}
.howitworks-components__techpaper {
  padding-top: 35px;
  text-align: center;
}

.howitworks-aircraft-components {
  position: relative;
  //min-width: 1260px;
  //height: 138vw;
  //background: #c9d4db url('../img/howitworks-aircraft-components-mobile.png') top center no-repeat;
  // margin collapse
  overflow: hidden;
  padding-bottom: 10px;
  background-color: #a3b0b8;

  @include breakpoint( $tabl3 ) {
    background: #c9d4db url('../img/howitworks-aircraft-components.png') top center no-repeat;
    background-size: 100% auto;
    padding-bottom: 70px;
  }

}





.howitworks-aircraft-components {
  position: relative;
}
.howitworks-aircraft-components__intro--title {
  position: absolute;
  //top: 2%;
  @include h2;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: calc(29.5% - 60px);

  @include breakpoint($mob2) {
    margin-top: calc(29.5% - 54px);
  }
  @include breakpoint($tabl1) {
    margin-top: calc(29.5% - 30px);
  }
  @include breakpoint( $tabl3 ) {
    display: none;
  }
}

.hac-intro-img-mobile {
  width: 100%;
  @include breakpoint( $tabl3 ) {
    display: none;
  }
}


.howitworks-aircraft-components__benefits {
  background: #fff;
  //width: 100%;
  max-width: calc( 100% - 40px );
  margin: 0 auto;
  padding: 20px 10px;

  @include breakpoint($tabl3) {
    margin-top: 66.31%;
    max-width: calc(80% - 100px);
    padding: 35px 70px;
  }

}
.hac-benefits__intro {
  @include h3;
  color: $copycolor;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
  @include breakpoint( $tabl5 ) {
    //max-width: 80%;
    margin-bottom: 35px;
  }
}
.hac-benefits__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hac-benefits__item {
  flex-basis: 48%;
  text-align: center;
  p { color: $copycolor; }
  img {
    width: 63px;
    height: 63px;
    margin-bottom: 20px;
  }
  @include breakpoint( $tabl5 ) {
    flex-basis: 28%;
    img {
      width: 99px;
      height: 99px;

    }
  }
}



.howitworks-coverage{
  position: relative;
  width: 100%;
  //height: 67vw;
  margin-top: 0;
  //min-height: 946px;
  height: 0;
  background: transparent url('../img/howitworks-coverage-mobile.png') top center no-repeat;
  //background-size: 100% auto;
  background-size: contain;
  //padding-bottom: 70px;
  padding-top: 67.3%;

  @include breakpoint( $tabl5 ) {
    background: transparent url('../img/howitworks-coverage.png') top center no-repeat;
    padding-top: 71.3%;
    background-size: contain;

  }

  h3, p { color: #fff; text-align: center; max-width: 60%; margin: 0 auto; }
  h3 {
    padding-top: 2rem;
    @include h2;
    color: white;
    margin-bottom: 0.5em;
    max-width: none;
    @include breakpoint( $tabl5 ) {
      max-width: 60%;
      padding-top: 7rem;
    }
  }
  p {
    font-size: 2rem;
    line-height: 1.5;
  }
} 
.howitworks-coverage__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

