@import "reset";
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '_variables';


html {

}
html {
  font-size: 62.5%; 
  //@include breakpoint($tabl1) {
  //  font-size: 40%; 
  //}
  @include breakpoint($desk1) {
    font-size: 62.5%; 
  }
  @include breakpoint($desk3) {
    font-size: 80%; 
  }

}
body {
  //font-family: Tahoma, Geneva, sans-serif;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  //min-width: $desk1;
}
.site-wrap {
  padding-top: 94px;
  @include breakpoint($tabl3) {
    padding-top: 65px;
  }
  @include breakpoint( $tabl5 ) {
    padding-top: 80px;
  }
  @include breakpoint( $desk1 ) {
    padding-top: 96px;
  }
  @include breakpoint( $desk4 ) {
    padding-top: 113px;

  }
}
.site-wrap.menu {
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
}
h2 {
  color: $blue;
}

h3 {
  @include h3;
  color: $blue;
}
p {
  color: $blue;
  @include copy;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include breakpoint($desk3) {
    max-width: 88%;
  }
}




.button {
  height: 3.2rem;
  line-height: 3.2rem;
  padding-right: 10px;

  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  background-color: $blue;
  text-decoration: none;
  @include breakpoint( $tabl5 ) {
    height: 4.5rem;
    line-height: 4.5rem;
    padding-right: 20px;
  }

  .icon {
    display: inline-block;
    vertical-align: sub;
    max-height: 15px;
    margin-left: 10px;
    margin-right: 5px;
    @include breakpoint( $tabl5 ) {
      max-height: none;
      margin-left: 17px;
      margin-right: 7px;
    }
  }
}
.button__inverted {
  color: $blue;
  background: white;
}
.button__big {
  height: 5.4rem;
  line-height: 5.4rem;
  font-size: 2rem;
  @include breakpoint( $desk1 ) {
    height: 6rem;
    line-height: 6rem;
  }
}
.button--none {
  padding-left: 20px;
} 
.button--contact {
  margin-right: 18px;
  .icon {
    width: 28px;
    height: 20px;
  }
}
.button--pdf {
  .icon {
    vertical-align: middle;
    width: 30px;
    height: 36px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -5px;
  }
}

.button--video {
  .icon {
    vertical-align: middle;
    margin-top: -5px; 
  }
}




.big-and-centered {
  text-align: center;
  width: 100%;
  max-width: 94%;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint($desk1) {
    max-width: 73%;

  }
}




