@import '~breakpoint-sass/stylesheets/breakpoint';
@import '_variables';



// NEWSROOM
.newsroom {
  width: calc( 100% - 20px );
  margin: 0 auto;
  padding-bottom: 7rem;
  @include breakpoint( $tabl4 ) {
    width: 100%;
    max-width: 80%;
  }
}
.newsroom__articles {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 3.5rem;
  padding-bottom: 7rem;

}
.newsroom__title {
  @include h2;
  text-align: center;
  color: $blue;
  margin-top: 26px;
  margin-bottom: 3rem;
  @include breakpoint( $tabl4 ) {
    margin-top: 66px;
    margin-bottom: 6rem;
  }
}
.newsroom__item {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.2rem;
  @include breakpoint( $tabl4 ) {
    max-width: 80%;
    text-align: left;
    margin-bottom: 6.6rem;

  }
}
.newsroom__item--date {
  @include copy;
  color: $lightblue-text;
  margin: 0;
  margin-bottom: 6px;
  @include breakpoint( $tabl4 ) {
    margin-bottom: 6px;
  }
}
.newsroom__item--title {
  @include h3;
  margin-bottom: 0.5em;
  a {
    color: $blue;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}
.newsroom__item--link {
  a {
    color: $lightblue-text;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}


.newsroom-media__title {
  text-align: center;
  @include h2;
  color: $blue;
  margin-bottom: 3rem;
  @include breakpoint( $tabl4 ) {
    margin-bottom: 6rem;
  }
}
.mediakit__row {
  @include breakpoint( $tabl4 ) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6.3rem;
  }
} 
.mediakit__item {
  text-align: center;
  a {
    text-decoration: none;
  }
  img { width: 40px; height: 40px; }
  margin-bottom: 3.2rem;
  @include breakpoint( $tabl4 ) {
    width: 30%;
    img { width: 62px; height: 62px; }
    margin-bottom: 0;
  }
}
.mediakit__item--title {
  @include h3;
  margin-bottom: 1em;

  @include breakpoint( $tabl4 ) {
    font-size: 2rem;
    height: 3.6em;
  }
  @include breakpoint( $desk1 ) {
    font-size: 2.6rem;
  }
}
.mediakit__item--desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.1em;
}
